<form [formGroup]="personEditForm" (ngSubmit)="onSubmit()">

    <label>
      Id:
      <input type="text" formControlName="id" required readonly="true" style="background-color: lightgray;">
    </label>
    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  
    <label>
      Gender:
      <select id="gender" name="gender" formControlName="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="" selected></option>
      </select>
    </label>

    <label>
      BirthDate:
      <input type="date" formControlName="birthDate">
    </label>


    <div formGroupName="father">
      <b>Father </b><br/>Id :
      <input type="text" formControlName="id">
      FirstName:
      <input type="text" formControlName="firstName">
      LastName:
      <input type="text" formControlName="lastName">
      <button *ngIf="father.value.id !=''" (click)="removeFather()">Remove</button>
      <button *ngIf="father.value.id ==''" (click)="createFather()">Create</button>
      <button *ngIf="father.value.id !=''" (click)="linkFather()">Link</button>
    </div>

    <div formGroupName="mother">
      <b>Mother </b><br/>Id :
      <input type="text" formControlName="id">
      FirstName:
      <input type="text" formControlName="firstName">
      LastName:
      <input type="text" formControlName="lastName">

      <button *ngIf="mother.value.id !=''" (click)="removeMother()">Remove</button>
      <button *ngIf="mother.value.id ==''" (click)="createMother()">Create</button>
      <button *ngIf="mother.value.id !=''" (click)="linkMother()">Link</button>
    </div>

 
    <b>Children </b><br/>
    <div formArrayName="children">
      <div *ngFor="let child of children.controls; let i=index">
        <div [formGroupName]="i">
          Id :
          <input type="text" formControlName="id">
          FirstName:
          <input type="text" formControlName="firstName">
          LastName:
          <input type="text" formControlName="lastName">
   
          <button *ngIf="children.controls[i].value.id !=''" (click)="removeChild(i)">Remove</button>
          <button *ngIf="children.controls[i].value.id ==''" (click)="createChild(i)">Create</button>
          <button *ngIf="children.controls[i].value.id !=''" (click)="linkChild(i)">Link</button>
        </div>
      </div>
    </div>

    <p>
      <button type="button" (click)="addChild()">Add</button>
    </p>

    <b>Spouses </b><br/>
    <div formArrayName="spouses">
      <div *ngFor="let spouse of spouses.controls; let i=index">
        <div [formGroupName]="i">
          Id :
          <input type="text" formControlName="id">
          FirstName:
          <input type="text" formControlName="firstName">
          LastName:
          <input type="text" formControlName="lastName">
   
          <button *ngIf="spouses.controls[i].value.id !=''" (click)="removeSpouse(i)">Remove</button>
          <button *ngIf="spouses.controls[i].value.id ==''" (click)="createSpouse(i)">Create</button>
          <button *ngIf="spouses.controls[i].value.id !=''" (click)="linkSpouse(i)">Link</button>
        </div>
      </div>
    </div>

    <p>
      <button type="button" (click)="addSpouse()">Add</button>
    </p>

</form>

<button type="submit" [disabled]="!personEditForm.valid">Submit</button>
  
  <hr>
  
  
  <p>
    Form Value: {{ personEditForm.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ personEditForm.status }}
  </p>
  


