<button *ngIf="editable" mat-icon-button style="float: right;" [color]="editMode?'warn':'primary'" (click)="switchEdit()">
  <mat-icon>edit</mat-icon>
</button>
<div>
  <mat-card-title>Photo Gallery<mat-icon>camera_alt</mat-icon></mat-card-title>
  
  <span *ngIf="photos?.length > 0" style="margin-left:20px">(Click on photo to enlarge.)</span>
  <span *ngIf="photos?.length == 0" style="margin-left:20px">No photos yet.</span>
  <br>
  <a *ngIf="photos?.length > 0" target="_blank" [href]="photos[photoIndex]?.url">
    <img  [src]="photos[photoIndex]?.url" width="380" />
  </a>
  <br>
  <div *ngIf="photos?.length > 0">
    <button mat-icon-button aria-label="Previous" (click)="previous()">
      <mat-icon>skip_previous</mat-icon>
    </button>
  
  {{ photoIndex + 1}} / {{ photos?.length}}
    <button mat-icon-button aria-label="Next" (click)="next()">
      <mat-icon>skip_next</mat-icon>
    </button>
    <button *ngIf="photos[photoIndex]._id != profile" mat-icon-button aria-label="Next" (click)="setProfilePicture()">
      Set as Profile picture
    </button>
   
  </div>
 

  <mat-chip-list *ngIf="photos?.length>0">
    Tags:
    <mat-chip *ngFor="let x of photos[photoIndex].persons">{{x.firstName}}
      
      <button *ngIf="editMode" mat-icon-button color="primary" matTooltip="delete tag"  (click)="removeTag(x._id, photos[photoIndex]._id)">
        <mat-icon>clear</mat-icon>
      </button>
      </mat-chip>
  </mat-chip-list>


 

  <div *ngIf="photos?.length>0 && editMode">
     
   Add Tag: <app-person-search (personChanged)="setLink($event)"></app-person-search>
    <button mat-icon-button color="primary" matTooltip="add tag"  (click)="addTag(linkId, photos[photoIndex]._id)">
      <mat-icon>link</mat-icon>
    </button> 
  </div>

  
  <div *ngIf="editMode">
    <br>
    <button *ngIf="photos?.length > 0" mat-icon-button color="warn" aria-label="Delete" (click)="deletePicture()">
      Delete photo
    </button>
    <br>
    
      <input type="file" accept="image/*" (change)="changeListener($event)">
    
      <button mat-icon-button aria-label="upload" (click)="upload()">
        <mat-icon>cloud_upload</mat-icon>
      </button>
  </div>




</div>