<button *ngIf="editable" mat-icon-button style="float: right;" [color]="editMode?'warn':'primary'"
  (click)="switchEdit()">
  <mat-icon>edit</mat-icon>
</button>

<div class="row" style="padding:16px;">
  <div class="column">

    <div class="row">
      <mat-card-title>Info</mat-card-title>
      <mat-icon>face</mat-icon>
    </div>

    <br>

    <div *ngIf="!editMode">
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput readonly [value]="profileData.firstName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput readonly [value]="profileData.lastName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input matInput readonly [value]="profileData.gender">
      </mat-form-field>

      <div>
        <mat-divider></mat-divider>
        Birth:<br>
        <mat-form-field *ngIf="profileData.yearOfBirth != ''">
          <mat-label>Year</mat-label>
          <input matInput readonly [value]="profileData.yearOfBirth">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.birthDate != ''">
          <mat-label>Date</mat-label>
          <input matInput readonly [value]="profileData.birthDate">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.birthLocationCountry != ''">
          <mat-label>Country</mat-label>
          <input matInput readonly [value]="profileData.birthLocationCountry">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.birthLocationCity != ''">
          <mat-label>City</mat-label>
          <input matInput readonly [value]="profileData.birthLocationCity">
        </mat-form-field>
      </div>
      
      
      <div *ngIf="profileData.isDead">
        <mat-divider></mat-divider>
        Death:<br>
        <mat-form-field *ngIf="profileData.yearOfDeath != ''">
          <mat-label>Year</mat-label>
          <input matInput readonly [value]="profileData.yearOfDeath">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.deathDate != ''">
          <mat-label>Date</mat-label>
          <input matInput readonly [value]="profileData.deathDate">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.deathLocationCountry != ''">
          <mat-label>Country</mat-label>
          <input matInput readonly [value]="profileData.deathLocationCountry">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.deathLocationCity != ''">
          <mat-label>City</mat-label>
          <input matInput readonly [value]="profileData.deathLocationCity">
        </mat-form-field>
      </div>

      <div *ngIf="!profileData.isDead && (profileData.currentLocationCountry != '' || profileData.currentLocationCity != '')">
        <mat-divider></mat-divider>
        CurrentLocation:<br>
        <mat-form-field *ngIf="profileData.currentLocationCountry != ''">
          <mat-label>Country</mat-label>
          <input matInput readonly [value]="profileData.currentLocationCountry">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.currentLocationCity != ''">
          <mat-label>City</mat-label>
          <input matInput readonly [value]="profileData.currentLocationCity">
        </mat-form-field>
      </div>

      <div *ngIf="profileData.weddingDate != '' || profileData.weddingLocationCountry != '' || profileData.weddingLocationCity != ''">
        <mat-divider></mat-divider>
        Wedding:<br>
        <mat-form-field *ngIf="profileData.weddingDate != ''">
          <mat-label>Date</mat-label>
          <input matInput readonly [value]="profileData.weddingDate">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.weddingLocationCountry != ''">
          <mat-label>Country</mat-label>
          <input matInput readonly [value]="profileData.weddingLocationCountry">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.weddingLocationCity != ''">
          <mat-label>City</mat-label>
          <input matInput readonly [value]="profileData.weddingLocationCity">
        </mat-form-field>
      </div>
     
      <div *ngIf="profileData.email != '' || profileData.phone != ''">
        <mat-divider></mat-divider>
        Personal Info:<br>
        <mat-form-field *ngIf="profileData.email != ''">
          <mat-label>Email</mat-label>
          <input matInput readonly [value]="profileData.email">
        </mat-form-field>
        <mat-form-field *ngIf="profileData.phone != ''">
          <mat-label>Phone</mat-label>
          <input matInput readonly [value]="profileData.phone">
        </mat-form-field>
      </div>
      

    </div>
    <br />

    <div *ngIf="editMode">
      <pre>{{changes | json}}</pre>

      <form [formGroup]="personEditForm" (ngSubmit)="onSubmit()">

        <mat-form-field *ngFor="let item of profileDataNew | keyvalue: returnZero" appearance="standard">
          <mat-label>{{getPropertyTitle(item.key)}}</mat-label>
          <input matInput [placeholder]="item.key" [formControlName]="item.key" (focusout)="syncChanges()">
        </mat-form-field>
        <br>
        <button *ngIf="canEdit()" mat-stroked-button color="primary" [disabled]="!personEditForm.valid">Save</button>
      </form>
      <br>
      <button *ngIf="canEdit()" mat-button color="warn" (click)="deleteProfile()">Delete Profile</button>
    </div>
  </div>
</div>