

<!-- <mat-divider></mat-divider> -->
<mat-card>
  <mat-card-header>
    <mat-card-title>  {{data.currentPerson.FirstName}} {{data.currentPerson.LastName}}</mat-card-title>
    <mat-card-subtitle>{{data.currentPerson._id}}</mat-card-subtitle>
    <mat-card-subtitle>{{data.currentPerson.BirthDate}}</mat-card-subtitle>
    <mat-card-subtitle>{{data.currentPerson.Gender}}</mat-card-subtitle>
    <mat-card-subtitle><img src="https://image.shutterstock.com/image-vector/profile-photo-vector-placeholder-pic-260nw-535853263.jpg"/></mat-card-subtitle>
    <pre> {{ data.currentPerson | json }}</pre>
  </mat-card-header>
  <mat-card-content>
  

      <b>Father</b>:  <a [href]="'person/' + data.father._id">    {{data.father.FirstName}} {{data.father.LastName | uppercase }} </a><br/>

      <b>Mother:</b>  <a [href]="'person/' + data.mother._id">    {{data.mother.FirstName}} {{data.mother.LastName | uppercase }} </a><br/>

      <b>Children:</b><br/>
      <a *ngFor="let x of data.children"  [href]="'person/' + x._id">    {{x.FirstName}} {{x.LastName | uppercase }} <br/> </a>

      <b>Siblings:</b><br/>
      <a *ngFor="let x of data. siblings"  [href]="'person/' + x._id">    {{x.FirstName}} {{x.LastName | uppercase }} <br/> </a>

      <b>Spouses:</b><br/>
      <a *ngFor="let x of data.spouses"  [href]="'person/' + x._id">    {{x.FirstName}} {{x.LastName | uppercase }} <br/> </a>

     
     
    
  </mat-card-content>
  <mat-card-actions>
    <a [href]="'person/'+ data.currentPerson._id +'/edit'" mat-menu-item>Edit</a>
  </mat-card-actions>
</mat-card>

<div class="familyTree"></div>


