.example-card {
    max-width: 800px;

  }
  
  .example-header-image {
    background-image: url('../../assets/img/logo.png');
    background-size: cover;
  }

  .main-div{
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }