


<button mat-stroked-button color="primary" (click)="click()" aria-label="Claim profile">Claim profile</button>
(This is your profile? Please claim the profile.)
      <br>
      
    


<form  *ngIf="edit" [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="margin: 10px;" >
  <img class="mb-4" src="../assets/logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <mat-form-field>
    <mat-label>Profile Id</mat-label>
    <input matInput placeholder="ProfileId"  formControlName="id" readonly>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput placeholder="Login"  formControlName="login">
  </mat-form-field>
<br>
<mat-form-field>
  <mat-label>Email</mat-label>
  <input matInput placeholder="Email" type="email" formControlName="email">
</mat-form-field>
<br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password"  formControlName="password">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm</mat-label>
    <input matInput placeholder="Confirm" type="password"  formControlName="confirm">
  </mat-form-field>

  <button aria-label="Claim">Claim</button>

</form>