<nav aria-label="breadcrumb" class="hidden-on-mobile">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active"><a href="/about">About</a></li>
  </ol>
</nav>


<div class="main-div"
  style="display: flex; flex-direction: row;flex-wrap: wrap; flex-shrink: 0;justify-content: center; ">

<div class="card .mx-auto" style="width: 800px;margin-bottom: 5px;">
  <h5 class="card-header">About</h5>
  <div class="card-body">
    <p class="card-text">The family beeing splitted across the world, it is not easy to keep in touch<br>
      with relatives. Of course we usually know our close family, some of our direct cousins,<br>
      but that's about it. When it comes to second cousins, we marely know how we are related.</p>
  </div>
</div>

<div class="card" style="width: 800px;margin-bottom: 5px;">
  <h5 class="card-header">Purpose</h5>
  <div class="card-body">
    <p class="card-text">The purpose of this website is to learn about our genealogy. The aim is to collaborate,<br>
      to build the family tree so it can be usefull for the next generation.</p>
  </div>
</div>

<div class="card" style="width: 800px;margin-bottom: 5px;">
  <h5 class="card-header">Solution</h5>
  <div class="card-body">
    <p class="card-text">I tried some tools available on the market to build family trees, but didn't find anything<br>
      that fits what I was expecting. Something easy to use and accessible to everyone.</p>
  </div>
</div>

<div class="card" style="width: 800px;margin-bottom: 5px;">
  <h5 class="card-header">Features</h5>
  <div class="card-body">
    <p class="card-text">- Family Tree and user information<br>
      - Photos<br>
      <br>
      In the future, it would be interesting to have some features like messaging,<br>
      contact infos, birthday reminders, GEDCOM generation ...</p>
  </div>
</div>

<div class="card" style="width: 800px;margin-bottom: 5px;">
  <h5 class="card-header">Keywords</h5>
  <div class="card-body">
    <p class="card-text">ancestry, genetics, lineage, descent, generation, heredity, history, line, parentage blood line, progeniture,<br>
      clan, folk, group, house, household, people, tribe, ancestors, birth, children, descendants, descent, dynasty,<br>
      generations, in-laws, network, pedigree, progenitors, progeny, relations, relationship,<br>
      relatives, siblings</p>
  </div>
</div>


<div class="card" style="width: 800px;margin-bottom: 5px;">
  <h5 class="card-header">Data privacy</h5>
  <div class="card-body">
    <p class="card-text">For the moment, all information are public. Except dates, places and contact infos, that are<br>
      only availble to connected users.<br>
      All information you consider sensitive, should not be added. Please also avoid put photos<br>
      unless authorized by concerned persons.<br></p>
  </div>
</div>
<br>
<div class="card" style="width: 800px;margin-bottom: 5px;">
  <h5 class="card-header">Note</h5>
  <div class="card-body">
    <p class="card-text">This is a first version of the  website, and it will be improved over time.
      If you have any comment, suggestions or issues, feel free to contact me.
    
      Interested in helping? 
      You can create an account,  and start adding content.
    
      Any help adding content is welcome. Everyone can collaborate after creating a account.
      For people with technical background, you can also help improve the website.<br></p>
  </div>
</div>
</div>