.splashContent {
  display: flex;
  background-color: #75d0d3;
  flex-direction: row
}




  .example-header-image {
    background-image: url('../../../assets/img/logo.png');
    background-size: cover;
  }

  .main-div{
    margin-top:20px;
    display: flex;
    /* justify-content: center;
    align-items: center;
    vertical-align: top; */
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }