

<div class="jumbotron hidden-on-mobile" style="padding:15px;background-color:#e9f3f7; text-align: center;">
  <div>
    <picture height="200" style="border-style: solid;  border-color: white;border-width: 1px;">
      <source srcset="../../assets/img/main.webp" type="image/webp">
      <source srcset="../../assets/img/main.jpg" type="image/jpeg">
      <img src="../../assets/img/main.jpg" alt="Photo of Genealogy" loading="lazy" height="200">
    </picture>
  
  </div>
</div>
<div  class="hidden-on-desktop" style="font-size:50px;height:60px;color:black;margin:5px">Family Tree</div>  

<nav aria-label="breadcrumb" class="hidden-on-mobile">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>

<div class="main-div"
  style="display: flex; flex-direction: row;flex-wrap: wrap; flex-shrink: 0;justify-content: center;">

  <div *ngIf="!loggedIn" class="card" style="width: 800px;padding: 10px;margin-bottom: 5px;">
    <!-- <h2 class="card-header"> <bi name="calendar"></bi> Register</h2> -->
    <div class="card-body">
      <p class="card-text">
          <app-register *ngIf="!registered"></app-register>
       
          <app-login *ngIf="registered"></app-login>
       

      </p>
    </div>
  </div>
  <div class="card" style="width: 800px;padding: 10px;margin-bottom: 5px;">
    <h2 class="card-header"> <bi name="calendar"></bi> Directory</h2>
    <div class="card-body">
      <p class="card-text">

        <a href="/search/A">A</a> -
        <a href="/search/B">B</a> -
        <a href="/search/C">C</a> -
        <a href="/search/D">D</a> -
        <a href="/search/E">E</a> -
        <a href="/search/F">F</a> -
        <a href="/search/G">G</a> -
        <a href="/search/H">H</a> -
        <a href="/search/I">I</a> -
        <a href="/search/J">J</a> -
        <a href="/search/K">K`</a> -
        <a href="/search/L">L</a> -
        <a href="/search/M">M</a> -
        <a href="/search/N">N</a> -
        <a href="/search/O">O</a> -
        <a href="/search/P">P</a> -
        <a href="/search/Q">Q</a> -
        <a href="/search/R">R</a> -
        <a href="/search/S">S</a> -
        <a href="/search/T">T</a> -
        <a href="/search/U">U</a> -
        <a href="/search/V">V</a> -
        <a href="/search/W">W</a> -
        <a href="/search/X">X</a> -
        <a href="/search/Y">Y</a> -
        <a href="/search/Z">Z</a> 
        

      </p>
    </div>
  </div>

  <div *ngIf="loggedIn" class="card" style="width: 800px;padding: 10px;margin-bottom: 5px;">
    <h2 class="card-header"> <bi name="calendar"></bi> Events</h2>
    <div class="card-body">
      <h5 class="card-title">TODAY's events</h5>
      <p class="card-text"><app-event></app-event></p>
    </div>
  </div>


  <br>



  <div class="card" style="width: 800px;padding: 10px;margin-bottom: 5px;">
    <h2 class="card-header"> 
      <bi name="people"></bi>
      
      Search</h2>
    <div class="card-body">
      <h5 class="card-title">Result for {{query}} page {{page}}</h5>
         <div *ngFor="let item of data" class="card" >
          <div class="card-body">
            <p class="card-text">
              
              firstName:{{item.firstName}} <br>
              lastName: {{item.lastName}}  <br>
              maidenName: {{item.maidenName}} <br>
              gender: {{item.gender}} <br>
              birth: {{item.yearOfBirth}}  <br>
              death: {{item.yearOfDeath}}
            </p>

            <a class="btn btn-primary btn-sm" [href]="'profile/'+item.profileId" [title]="getTitle(item)" aria-label="view">
              view</a>
          </div>
        </div> 
    </div>
  </div>
  <!-- <br>

  <div class="card" style="width: 800px;padding: 10px;margin-bottom: 5px;">
    <h2 class="card-header"> <bi name="camera-fill"></bi> Random Photos</h2>
    <div class="card-body">
      <h5 class="card-title">TODAY's events</h5>
      <p class="card-text">
        <a [href]="'profile/'+image.persons[0].profileId"  *ngFor="let image of images">
          <img loading="lazy" [alt]="image.persons[0].firstName"  [src]="image.url" 
          style="margin:5px; max-width: 200px; max-height: 200px;" />
        </a>
      </p>
    </div>
  </div> -->
  
  <br>

  <div *ngIf="loggedIn" class="card" style="width: 800px;padding: 10px;margin-bottom: 5px;">
    <h2 class="card-header"> <bi name="receipt"></bi>  Recent Activities</h2>
    <div class="card-body">
      <div class="card-text">
        <p  *ngFor="let auditEntry of audit">
          {{auditEntry.timestamp | date : 'short'}} - <b>{{auditEntry.user}}</b> {{auditEntry.action}} "{{auditEntry.id}}"
        </p>
      </div>
    </div>
  </div>

  <br>


<div *ngIf="!loggedIn" class="card" style="width: 800px;padding: 10px;margin-bottom: 5px;">
  Keywords:
  ancestry, genetics, lineage, descent, generation, heredity, history, line, parentage
  blood line, progeniture, clan, folk, group, house, household, people, tribe, ancestors,
  birth, children, descendants, descent, dynasty, genealogy, generations, in-laws, network,
  pedigree, progenitors, progeny, relations, relationship, relatives, siblings,
</div>


</div>


<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Res01",
    "url": "https://www.res01.com",
    "logo": "https://www.res01.com/assets/img/logo.png",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "",
      "contactType": ""
    },
    "sameAs": [
      "https://github.com/daniel83fr/genealogy-web",
      "https://twitter.com/res01com"
    ]
  }
  </script>

<br>