<mat-card class="splashContent" >
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome to Genealogy</mat-card-title>
    <mat-card-subtitle>A simple website to view and edit family tree.</mat-card-subtitle>
  </mat-card-header> -->
  <img src="../../assets/img/genealogy.jpg" alt="Photo of Genealogy" height="200" class="hidden-on-mobile">

  <div style="font-size:50px;min-width: 200px;" >Family Tree</div>
 
</mat-card>

<div class="main-div" style="display: flex; flex-direction: row;flex-wrap: wrap;">

<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome to Family Tree</mat-card-title>
    <mat-card-subtitle>Features:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul >
      
      <li>Family Tree</li>
      <li>Photos</li>
      <li>Chat</li>
      <li>... And more</li>
    </ul>
  </mat-card-content>
</mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Search</mat-card-title>
      <mat-card-subtitle>Find a person by name.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Daniel">
        </mat-form-field>
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" matSortActive="FirstName" matSortDirection="asc">

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
            <td mat-cell *matCellDef="let element" > {{element.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
            <td mat-cell *matCellDef="let element"  [innerHTML]="element.lastName 
            + (element.maidenName == '' ? '':' (')
            + element.maidenName 
            + (element.maidenName == '' ? '':')')
            "></td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
            <td mat-cell *matCellDef="let element"> {{element.yearOfBirth}} - {{element.yearOfDeath}}</td>
          </ng-container>

          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element"> <a mat-flat-button [href]="'person/'+element._id"> view </a> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>PHotos</mat-card-title>
      <mat-card-subtitle>Find a person by name.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>



        <b>Photos: </b><br />
        <img src="https://i.imgur.com/JQjU6fR.jpg" height="200"/>
        <img src="https://i.imgur.com/pWeWIu7.jpg" height="200"/>
        <br>
      </mat-card-content>
    </mat-card>



  <mat-card style="width: 300px;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Events</mat-card-title>
      <mat-card-subtitle>Birthdays, ...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <b>Events</b><br>
      Today<br>

      Coming soon:<br>


     <b>Live</b><br>
    </mat-card-content>

  </mat-card>

  <mat-card style="width: 50%;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Recent Activities</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <b>Recent activity: </b><br />
      daniel added photo: <br>
      daniel added profile for "Daniel"<br>
      ...
  </mat-card-content>

</mat-card>
</div>

<br>