.splashContent {
  display: flex;
  background-color: #75d0d3;
  flex-direction: row
}




  .example-header-image {
    background-image: url('../../../assets/img/logo.png');
    background-size: cover;
  }

  .main-div{
    background-color: blue;
    min-width: 400;
    display: flex;
    justify-content: center;
    align-items: left;
    vertical-align: top;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }