<mat-card class="splashContent" >
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome to Genealogy</mat-card-title>
    <mat-card-subtitle>A simple website to view and edit family tree.</mat-card-subtitle>
  </mat-card-header> -->
  <img src="../../assets/img/genealogy.jpg" alt="Photo of Genealogy">

  <div style="font-size:50px; vertical-align: center;align-self:flex-end;" >Family Tree</div>

  <div style="border-width: 1px; border-style: solid;width: 400px;background-color: #e6f2ff; margin-left:auto; margin-right:40px;">
    Features: <br>
    <ul >
      
      <li>Family Tree</li>
      <li>Photos</li>
      <li>Chat</li>
      <li>... And more</li>
    </ul>
  </div>
 
</mat-card>

<div class="main-div">


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome to Genealogy</mat-card-title>
      <mat-card-subtitle>A simple website to view and edit family tree.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br>
        <b>Persons: </b><br />

        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Daniel">
        </mat-form-field>
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" matSortActive="FirstName" matSortDirection="asc">

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
            <td mat-cell *matCellDef="let element" > {{element.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
            <td mat-cell *matCellDef="let element"  [innerHTML]="element.lastName 
            + (element.maidenName == '' ? '':' (')
            + element.maidenName 
            + (element.maidenName == '' ? '':')')
            "></td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
            <td mat-cell *matCellDef="let element"> {{element.yearOfBirth}} - {{element.yearOfDeath}}</td>
          </ng-container>

          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element"> <a mat-flat-button [href]="'person/'+element._id"> view </a> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
 

        <b>Photos: </b><br />
        <img src="https://i.imgur.com/JQjU6fR.jpg" height="200"/>
        <img src="https://i.imgur.com/pWeWIu7.jpg" height="200"/>
        <br>

        <b>Recent activity: </b><br />
        daniel added photo: <br>
        daniel added profile for "Daniel"<br>
        ...
    </mat-card-content>

  </mat-card>

  <mat-card style="width:20%; height:500px; vertical-align: top;">
    <mat-card-content>
      <b>Events</b><br>
      Today<br>

      Coming soon:<br>


     <b>Live</b><br>
    </mat-card-content>

  </mat-card>
</div>

<br>