<form  *ngIf="!isConnected()" class="form-signin"  [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <img class="mb-4" src="../../../assets/img/logo.png" alt="" width="72" height="72"> 

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="login" formControlName="login" id="login" class="form-control" placeholder="Login" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p>
    Not registered yet, please <a href="/register">register</a>.
  </p>
</form>
