
<nav class="navbar navbar-dark sticky-top bg-dark shadow p-0">
 <!-- logo -->
 <a class="navbar-brand" href="/">
  <picture   height="40" style="-webkit-filter: drop-shadow(2px 2px 2px #fff);filter: drop-shadow(2px 2px 2px #fff);" >
    <source srcset="../../assets/img/logo.webp" type="image/webp">
    <source srcset="../../../assets/img/logo.png" type="image/png">
    <img src="../../../assets/img/logo.png" alt="Logo" loading="lazy" height="40">
  </picture>
  Res01.com
</a>

<div class="btn-group" style="margin-right:20px">

  <a  *ngIf="!isConnected()" class="btn btn-primary btn-sm" href="/login" role="button">Login</a>

  <button *ngIf="isConnected()" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <bi name="person-fill" style="color: blue;"></bi>
   <span class="hidden-on-mobile" style="font-size:10px; color:white">Connected as {{getConnectedLogin()}}</span> 
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button" (click)="getConnectedProfile()" aria-label="profile">Profile</button>
    <a class="dropdown-item" href="/admin" aria-label="admin" >Admin</a>
    <a class="dropdown-item" href="/login" aria-label="change credentials" >Change credentials</a>
    <button class="dropdown-item" type="button" (click)="logout()" aria-label="logout">Logout</button>
  </div>
  <span  *ngIf="environnement!='production'" class="badge badge-primary" aria-label="env">{{environnement}}</span>

</div>
</nav>

<br>


  <ul class="nav justify-content-center">

    <li class="nav-item">
      <input class="form-control form-control-dark"  style="width:250px;margin-right: 10px;" type="text" [(ngModel)]="query" 
    placeholder="find someone..." aria-label="Search"
    onkeydown="if (event.keyCode == 13) window.location.href ='search/'+ value"
  >
    </li>
    <li class="nav-item">
      <a [href]="'search/'+query"  class="btn btn-outline-secondary btn-sm" type="submit">Search</a>
    </li>
   
  </ul>
  



<!-- menu-->
<ul class="nav nav-tabs hidden-on-mobile">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/help">Help</a>
  </li>
</ul>