<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-flat-button color="primary" routerLink="/">
      <img width="40" alt="Angular Logo" src="../../../assets/img/logo.png" />
      <span>www.res01.com</span>
    </button>

    <span style="flex: auto;"></span>
    <button *ngIf="!isConnected()" mat-raised-button color="primary" routerLink="/login">Login</button>

    <button *ngIf="isConnected()" mat-icon-button aria-label="my profile" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-label *ngIf="isConnected()" style="font-size:10px">Connected as {{getConnectedLogin()}}</mat-label>

    <mat-menu  #menu="matMenu">
      <button mat-menu-item (click)="getConnectedProfile()" >Profile</button>
      <button mat-menu-item routerLink="/admin" >Admin</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <button mat-icon-button routerLink="/help">
      <mat-icon>help_outline</mat-icon>
    </button>

    <button *ngIf="environnement!='production'" mat-raised-button color="warn">{{environnement}}</button>
  </mat-toolbar-row>
</mat-toolbar>
