<h1>Help</h1>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Technical Info
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
    The website is hosted for free on <a href="www.heroku.com" target="_blank">Heroku</a>.
    After 30 mins of inactivity, the server is sleeping, and takes a while to restart.
  </pre>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal Data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
    By default, names and year of birth/death are visible to everyone.
    Other informations are only visible to admins and profile owners.

    Roles:
    - Normal user:
      Can see simplified profile, suggest update  
    - Logged user:
      Can see full profile owned / releated persons
    - Admin:
      Full rights

  </pre>
  </mat-expansion-panel>
</mat-accordion>
