<mat-card>
  <mat-card-header>
    <mat-card-title>Credentials</mat-card-title>
  </mat-card-header>
</mat-card>

<form  *ngIf="!isConnected()" [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="margin: 10px;" >
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput placeholder="Login"  formControlName="login" type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password"  formControlName="password">
  </mat-form-field>

  <button aria-label="Login">Login</button>

  To create an account, find your profile <br>
  then choose claim profile.
</form>

<form  *ngIf="isConnected()" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" style="margin: 10px;" >
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput placeholder="Login"  formControlName="login" type="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Old Password" type="password"  formControlName="password">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password"  formControlName="password">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="confirm" type="password"  formControlName="confirm">
  </mat-form-field>

  <button disabled aria-label="Change">Change</button>

  To create an account, find your profile <br>
  then choose claim profile.
</form>