<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
</mat-card>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="margin: 10px;" >
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput placeholder="Login"  formControlName="login" type="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password"  formControlName="password">
  </mat-form-field>

  <button>Login</button>

  To create an account, find your profile <br>
  then choose claim profile.
</form>