/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width: 600px) {
    .hidden-on-mobile {display: none}
}

@media screen and (min-width: 600px) {
    .hidden-on-desktop {display: none}
}

.red-snackbar {
    background: #2196F3;
}

.green-snackbar {
    background: #2196F3;
}

.orange-snackbar {
    background: #2196F3;
}
