
<footer>
  <mat-toolbar color="primary">
    <span><small>&copy; Copyright 2020 , Res01.com - {{ version }} </small></span>
  </mat-toolbar>

  <a mat-button href="/">Home</a>
  <a mat-button href="/login">Login</a>
  <a mat-button href="/about">About</a>
  <a mat-button href="/help">Help</a>
  <a mat-button href="/sitemap.xml">Sitemap</a>
  <a mat-button href="/recent-activity.rss">Recent Activity</a>
  <a mat-button href="/events.rss">Events </a>

  <a href="https://twitter.com/res01_com?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @res01_com</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</footer>
