<mat-card>
  <mat-card-header>
    <mat-card-title>Admin area</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-tab-group>
  <mat-tab label="Info"> 
    <pre>
      Env: Staging
      Api: https://genealogy-api-staging.herokuapp.com/graphql
      API Status : OK
    </pre>
  </mat-tab>

  <mat-tab label="Unused Persons"> 
    <div *ngFor="let x of data; let i=index">
      <div>
        <input type="text" [value]=x._id readonly=true>
        <input type="text" [value]=x.FirstName readonly=true>
        <input type="text" [value]=x.LastName readonly=true>
  
        <button (click)="removePerson(x._id)">Remove</button>
  
      </div>
    </div>
  </mat-tab>
</mat-tab-group>



