<app-person-profile [id]="id" [editable]="isConnected" [data]="data.currentPerson">
</app-person-profile>

<mat-card>
  <app-person-links title="Father" [id]="id" [person]="data.father" type="parent" [editable]="isConnected">
  </app-person-links>
  
  <br>
  
  <app-person-links title="Mother" [id]="id" [person]="data.mother" type="parent" [editable]="isConnected">
  </app-person-links>
  
  <br />
  
  <app-person-links title="Children" [id]="id" [persons]="data.children" type="child" [editable]="isConnected">
  </app-person-links>
  
  <br />
  
  <app-person-links title="Spouses" [id]="id" [persons]="data.spouses" type="spouse" [editable]="isConnected">
  </app-person-links>
  
  <br />
  
  <app-person-links title="Siblings" [id]="id" [persons]="data.siblings" type="sibling" [editable]="isConnected">
  </app-person-links>
</mat-card>

<app-tree [data]="data"></app-tree>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Debug
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre> {{ data | json }}</pre>
  </mat-expansion-panel>
</mat-accordion>