<div *ngIf = "id!=undefined"  class="main-div" style="display: flex; flex-direction: row;flex-wrap: wrap; flex-shrink: 0;justify-content: center; ">

  <mat-card>
    <mat-card-content>
      <app-person-profile [id]="id" [editable]="isConnected()" [data]="data">
      </app-person-profile>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
  
      <app-person-profile-detail [id]="id" [editable]="isConnected()" [data]="data.currentPerson" [privateData]="privateData" [profileData]="profileData">
      </app-person-profile-detail>
    </mat-card-content>
  </mat-card>



<mat-card>
  <mat-card-header>
 
  </mat-card-header>
  <mat-card-content style="padding:16px;">

    
    <mat-card-title>Family Members <mat-icon>people_alt</mat-icon></mat-card-title>

    <app-person-links title="Father" [id]="id" [person]="data.father" type="parent" [editable]="isConnected()">
    </app-person-links>
    
    <br>
    
    <app-person-links title="Mother" [id]="id" [person]="data.mother" type="parent" [editable]="isConnected()">
    </app-person-links>
    
    <br />
    
    <app-person-links title="Children" [id]="id" [persons]="data.children" type="child" [editable]="isConnected()">
    </app-person-links>
    
    <br />
    
    <app-person-links title="Spouses" [id]="id" [persons]="data.spouses" type="spouse" [editable]="isConnected()">
    </app-person-links>
    
    <br />
    
    <app-person-links title="Siblings" [id]="id" [persons]="data.siblings" type="sibling" [editable]="isConnected()">
    </app-person-links>
   
  </mat-card-content>
</mat-card>


<mat-card class="tree-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content style="padding:16px;">

    <app-tree [data]="data" ></app-tree>

  </mat-card-content>
</mat-card>



<mat-card>
  <mat-card-header>

  </mat-card-header>
  <mat-card-content style="padding:16px;">
   
    

    <app-photo [id]="id" [editable]="isConnected()" [photos]="photos"></app-photo>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isConnected()">
  <mat-card-header>

  </mat-card-header> 
  <mat-card-content style="padding:16px;">
    <mat-card-title>Relation <mat-icon>link</mat-icon></mat-card-title>
    
     <div *ngFor="let x of relations">
      <div *ngIf="x.link=='self'">
        Yourself
      </div>
      <div *ngIf="x.link!='self'">
        <a [href]="'person/'+x.person1.profileId">
          {{ x.person1.firstName}} {{x.person1.lastName}}
        </a>
  
         -  <a [href]="'person/'+x.person2.profileId">
          {{ x.person2.firstName}} {{x.person2.lastName}}
        </a> -  {{x.link}}
      </div>
     
    </div> 
   
  </mat-card-content>
</mat-card>

</div>



<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Debug
      </mat-panel-title>
    </mat-expansion-panel-header>
    Data:
    <pre> {{ data | json }}</pre>
    <br>
    Private Data:
    <pre> {{ privateData | json }}</pre>

  </mat-expansion-panel>
</mat-accordion>