.main-div{
    min-width: 400;
    display: flex;
    justify-content: center;
    align-items: left;
    vertical-align: top;
  }
  

.linage {
    fill: none;
    stroke: black;
}
.marriage {
    fill: none;
    stroke: black;
}
.node {
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
}
.nodeText{
    font: 10px sans-serif;
}
h1{
    margin-left: 20px;
}

mat-card{
    width:400px;
    margin:5px;
    padding:0px
}

.tree-card{
    width:auto;
    max-width: 1220px;
    overflow:auto;
    padding: 0px;
}

