<mat-card>
  <div class="row">
    <div class="column">
      <div style="font-size: larger;">{{getDisplayName(data)}}</div>
      <div style="color: gray;">{{data?._id}}</div>
      <div><img [src]="getImage()" /></div>

    </div>



  <div class="column">
    <mat-slide-toggle *ngIf="editable" [checked]="editMode" (change)="onChange($event)">Edit</mat-slide-toggle>
    <br>
    <form [formGroup]="personEditForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>FirstName</mat-label>
        <input matInput placeholder="firstName" [value]="data?.firstName" [readonly]="!canEdit()"
          formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>LastName</mat-label>
        <input matInput placeholder="lastName" [value]="data?.lastName" [readonly]="!canEdit()"
          formControlName="lastName">
      </mat-form-field>

      <mat-form-field *ngIf="data?.maidenName!=''" appearance="standard">
        <mat-label>MaidenName</mat-label>
        <input matInput placeholder="maidenName" [value]="data?.maidenName" [readonly]="!canEdit()">
      </mat-form-field>

      <br>

      <mat-form-field appearance="standard">
        <mat-label>Gender</mat-label>
        <input *ngIf="!canEdit()" matInput type="gender" placeholder="gender" [value]="data?.gender" readonly>
        <mat-select *ngIf="canEdit()" placeholder="gender" [value]="data?.gender" [disabled]="!canEdit()">
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Male">Male</mat-option>
        </mat-select>

      </mat-form-field>

      <br>

      <mat-form-field appearance="standard">
        <mat-label>Year</mat-label>
        <input matInput type="string" placeholder="yearOfBirth" [value]="data?.yearOfBirth" readonly
          formControlName="yearOfBirth">
      </mat-form-field>

      <br>
      <button *ngIf="canEdit()" mat-stroked-button color="primary" [disabled]="!personEditForm.valid">Save</button>
    </form>
    <br>
    <button *ngIf="canEdit()" mat-button color="warn" (click)="deleteProfile()">Delete Profile</button>
  </div>
  </div>
</mat-card>
<div >

<span *ngIf="!editable">
  <app-login-register [id]="data._id"></app-login-register>
</span>
</div>