
<button *ngIf="editable" mat-icon-button style="float: right;" color="primary" (click)="switchEdit()">
    <mat-icon>edit</mat-icon>
</button>
<div style="display: flex; flex-direction: column;width:350px;padding:16px;">
    <div style="font-size: larger;">{{getDisplayName(data)}}</div>
    <div style="color: gray;">Profile: {{data?.profileId}}</div>
    <div *ngIf="data?.profileId != data?._id" style="color: gray;">Id: {{data?._id}}</div>
    <div style="display: flex;
    justify-content: center;
    align-items: center;" ><img [src]="image" width="300" loading="lazy"/></div>
</div>

<span *ngIf="!editable && data && data.profileId == data._id">
  <app-login-register [id]="data._id"></app-login-register>
</span>

<div *ngIf="getConnectedLogin() == data.profileId">
  Unclaim profile : Todo<br>
  change login: Todo<br>
  Change password: Todo
</div>